<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>Swamp ROSE Updater</string>
  <key>CFBundleDisplayName</key>
  <string>Swamp ROSE Updater</string>
  <key>CFBundleVersion</key>
  <string>0.2.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleExecutable</key>
  <string>swamp_rose_updater</string>
</dict>
</plist>
