on: [push, pull_request]

name: CI

jobs:
  # Run bitar tests.
  build:
    name: "tests"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true

      - name: Install protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Download appimagetool
        uses: engineerd/configurator@v0.0.9
        with:
         name: appimagetool
         url: https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage

      - name: Install cargo-appimage
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-appimage

      - name: Setup git config to apply patch
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "<>"

      - name: build
        run: make build/output/swamp_rose_updater
